*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header {
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #ddd;
    text-align:  center;
   
}

.admin-content {
    padding-top: 50px;
    display: flex;
}

.admin-content-left {
    width: 20%;
    background-color: #ddd;
    height: 100vh;
    padding: 30px 0 0 12px;
}


.admin-content-left > ul > li > a{
   font-weight: bold;
}


.admin-content-left ul li {
    margin: 6px 0;
}

.admin-content-left ul ul {
    margin-left : 20px;
}

.admin-content-right {
    width: 80%;
    padding: 30px 0 0 12px ;
    
}

.admin-content-right-cartegory_add input {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}

.admin-content-right-cartegory_add button {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #000;
    color :#fff;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.admin-content-right-cartegory_add button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

/*------------------- Cartegory list----------------- */
.admin-content-right-product_add h1 {
    margin-bottom: 20px;
}

.admin-content-right-cartegory_list table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    

}

.admin-content-right-cartegory_list table tr th,td {
    border: 1px solid #ddd;
    
}

table {
    border-collapse: collapse;
}


/* ------------------------Product--------------------- */
.admin-content-right-product_add input , select {
     width: 200px;
     height: 30px;
     display: block;
     margin: 6px 0 12px;
     padding-left: 12px;
}

.admin-content-right-product_add textarea {
    display: block;
    height: 200px;
    width: 500px;
     margin: 6px 20px 12px 0;
     padding-left: 12px;
}

.admin-content-right-product_add button {
     display: block;
    margin: 10px 0 20px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #000;
    color :#fff;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.admin-content-right-product_add button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}
